.page{
    background-color: rgb(247, 247, 247);
    height: 100vh;
}
.page1{
    background-color: green;
    height: 100vh;
}
.page2{
    background-color: blue;
    height: 100vh;
}
.page3{
    background-color: yellow;
    height: 100vh;

}
html,body{
    background-color: gray;
    margin: 0%;
    padding: 0%;
    align-items: end;
    backdrop-filter: blur(50px);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    border: none;
}
.navbar:hover{
    box-shadow: 1px 5px 10px rgba(36, 27, 27, 0.5);
    background-color: rgb(147, 206, 255);
    backdrop-filter: blur(50px);
    transition: ease-in-out 0.5s;
    transition: ease-out 0.5s;
    background-size: 20%;
}

ul{
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 0%;
    list-style: none;
    gap: 30px;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white
}
a:hover{
    color: black;
    transition: ease-in-out 0.5s;
    transition: ease-out 0.5s
}
li{
    padding: 12px;

}

