.page{
    background-color: red;
    height: 100vh;
}
.page1{
    background-color: green;
    height: 100vh;
}
.page2{
    background-color: blue;
    height: 100vh;
}
.page3{
    background-color: yellow;
    height: 100vh;

}
html,body{
    background-color: gray;
    margin: 0%;
    padding: 0%;
    align-items: end;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.801);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
}
.navbar:hover{
    background-color: rgba(80, 5, 5, 0.801);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    transition: ease-in-out 0.5s;
    transition: ease-out 0.5s;
}

ul{
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 0%;
    list-style: none;
    gap: 30px;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white
}
li{
    padding: 12px;

}

